<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hexashop Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/templatemo-hexashop.css" />
    <link rel="stylesheet" href="/static/css/owl-carousel.css" />
    <link rel="stylesheet" href="/static/css/lightbox.css" />
  </head>

  <body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo"><img src="/static/images/logo.png" /></a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="#top" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#men">Men's</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#women">Women's</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#kids">Kid's</a>
                </li>
                <li class="submenu">
                  <a href="javascript:;">Pages</a>
                  <ul>
                    <li>
                      <a href="about.html">About Us</a>
                    </li>
                    <li>
                      <a href="products.html">Products</a>
                    </li>
                    <li>
                      <a href="single-product.html">Single Product</a>
                    </li>
                    <li>
                      <a href="contact.html">Contact Us</a>
                    </li>
                  </ul>
                </li>
                <li class="submenu">
                  <a href="javascript:;">Features</a>
                  <ul>
                    <li>
                      <a href="#">Features Page 1</a>
                    </li>
                    <li>
                      <a href="#">Features Page 2</a>
                    </li>
                    <li>
                      <a href="#">Features Page 3</a>
                    </li>
                    <li>
                      <a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a>
                    </li>
                  </ul>
                </li>
                <li class="scroll-to-section">
                  <a href="#explore">Explore</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/signin">Sign in</a>
                </li>
              </ul>
              <a class="menu-trigger"><span>Menu</span></a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');" style="margin-top: 90px;">
      <div class="inner">
        <form action="" method="post">
          {% csrf_token %}
          <h3>Welcome To Hexashop</h3>
          <div class="form-group">
            <div class="form-wrapper">
              <label for="">First Name</label>
              <input type="text" name="firstname" class="form-control" />
            </div>
            <div class="form-wrapper">
              <label for="">Last Name</label>
              <input type="text" name="lastname" class="form-control" />
            </div>
          </div>
          <div class="form-wrapper">
            <label for="">Email</label>
            <input type="text" name="email" class="form-control" />
          </div>
          <div class="form-wrapper">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" />
          </div>
          <div class="form-wrapper">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-wrapper">
            <label for="">Mobile</label>
            <input type="number" name="mobile" class="form-control" />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" />I caccept the Terms of Use & Privacy Policy.
              <br />
              <p>
                Alrady have a account <a href="/signin">sign in</a>
              </p>
              <span class="checkmark"></span>
            </label>
          </div>
          <button type="button" onclick="myFunction()">Sign Up</button>
        </form>
      </div>
    </div>
    
    <!-- ***** Footer Start ***** -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <img src="/static/images/white-logo.png" alt="hexashop ecommerce templatemo" />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a>
                </li>
                <li>
                  <a href="#">hexashop@company.com</a>
                </li>
                <li>
                  <a href="#">010-020-0340</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li>
                <a href="#">Men’s Shopping</a>
              </li>
              <li>
                <a href="#">Women’s Shopping</a>
              </li>
              <li>
                <a href="#">Kid's Shopping</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <a href="#">Homepage</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">FAQ's</a>
              </li>
              <li>
                <a href="#">Shipping</a>
              </li>
              <li>
                <a href="#">Tracking ID</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.
                <br />Design:
                <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
              </p>
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-behance"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
